html,
body {
    height: 100%;
    position: relative;
}

body {
    font-family: "Chalkboard";
    font-size: 14px;
}

header {
    width: 100%;
    height: 160px;
    padding: 20px;
    margin-bottom: 5px;
}

main {
    height: 100%;
    min-height: 800px;
    width: 100%;
}

footer {
    width: 100%;
    height: 20px;
    padding: 20px;
    background: #000000;
    margin-top: 5px;
    clear: both;
    position: relative;
    top: 100%;
}

h1 {
    text-align: center;    
    font-size: 200%;
}

/* Character select. */

#characterSelect {
    width: 100%;
    height: 225px;
    text-align: center;
    margin: 1%;
}

#finn,
#jake,
#pb,
#marce {
    width: 200px;
    height: 200px;
    display: inline;
    float: left;
    margin: 0 5%;
}

#finn {
    background: url("../images/finn/finnIconFace.png");
}

#jake {
    background: url("../images/jake/jakeIconFace.png");
}

#pb {
    background: url("../images/bubblegum/pbIconFace.png");
}

#marce {
    background: url("../images/marceline/marcelineIconFace.png");
}

#gameArea {
    background: url("../images/backgrounds/skyBkgrdCropped.png");
    width: 1300px;
    height: 700px;
    border: solid 1px #000000;
    margin: 0 auto;
    clear: both;
}



.pageHeader {
    background: url("../images/adventureTimeLogo.png");
    background-repeat: no-repeat;
}

.pc {
    border-color: green;
    border-style: solid;
    border-width: 5px;
}

.enemies {
    border-color: red;
    border-style: solid;
    border-width: 5px;
}

.hidden {
    display: none;
}
